html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
b, i,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-family: GothamLight;
    font-size: .95rem;
    color: #333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5, h6 {
    font-family: GothamMedium;
    font-weight: normal;
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display: block;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
	color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

.main {
	margin: 0 auto;
    font-family: GothamLight;
}

.guide_box,
.guide_box a {
    color: #c3c3c3;
    line-height: 4rem;
    font-family: GothamLight;
}

.guide_box {
    background: #efefef;
}
.guide {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.guide a {
    color: #666;
}

.guide a:last-child {
    color: #c3c3c3;
}
.bg_pic_box {
    position: relative;
    height: 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.bg_pic {
    position: absolute;
    transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    -moz-transform: translate3D(0, 0, 0);
    -webkit-transform: translate3D(0, 0, 0);
    -o-transform: translate3D(0, 0, 0);
    transition: transform .5s;
    z-index: -2;
}

.bg_pic_left {
    left: -4rem;
    top: 7rem;
    width: 80rem;
    height: 24rem;
    background: url('../images/parallaxbg-a.png') 0 center no-repeat;
    background-size: 100% auto;
}

.bg_pic_center {
    right: 30rem;
    top: 13rem;
    width: 8rem;
    height: 8rem;
    background: url('../images/parallaxbg-c.png') 0 center no-repeat;
    background-size: 100% auto;
    z-index: -1;
}

.bg_pic_right {
    right: 0;
    top: 3rem;
    width: 24rem;
    height: 24rem;
    background: url('../images/parallaxbg-b.png') 0 center no-repeat;
    background-size: 100% auto;
}

@font-face {
    font-family: 'GothamMedium';
    src: url(../fonts/Gotham-Medium.eot);
    src: local('O'), 
        url(../fonts/Gotham-Medium.woff) format('woff'),
        url(../fonts/Gotham-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamLight';
    src: url(../fonts/Gotham-Light.eot);
    src: local('O'), 
        url(../fonts/Gotham-Light.woff) format('woff'),
        url(../fonts/Gotham-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main_contain {
    text-align: center;
    padding: 8rem 0 6rem 0;
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s .6s;
    -moz-transition: opacity 1s .6s;
    -webkit-transition: opacity 1s .6s;
    -o-transition: opacity 1s .6s;
 }

 .main.play .main_contain {
    opacity: 1;
}

.banner_box {
    position: relative;
    padding-top: 34.7%;
    overflow: hidden;
    font-size: 0;
}

.banner_box img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: -1;
}

.banner_pic_text_box {
    position: absolute;
    left: 6%;
    right: 6%;
    bottom: 30%;
}

.banner_pic_title,
.banner_pic_dec {
    color: #fff;
    opacity: 0;
}

.banner_pic_title {
    font-size: 4rem;
    opacity: 0;
    transition: opacity 1.2s;
    -moz-transition: opacity 1.2s;
    -webkit-transition: opacity 1.2s;
    -o-transition: opacity 1.2s;
}

.banner_pic_dec {
    font-size: 2rem;
    font-family: GothamLight;
    font-weight: lighter;
    margin-top: 1rem;
    max-width: 55%;
    transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    -o-transform: scale(0, 1); 
    transition: transform .8s .32s, opacity 1s .32s;
    -moz-transition: -moz-transform .8s .32s, opacity 1s .32s;
    -webkit-transition: -webkit-transform .8s .32s, opacity 1s .32s;
    -o-transition: -o-transform .8s .32s, opacity 1s .32s;
}

.main.play .banner_pic_title {
    opacity: 1;
}

.main.play .banner_pic_dec {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1); 
}

table tr:nth-child(even){
    background: #fcfcfc;
}

table tr:nth-child(odd){
    background: #f3f3f3;
}

@media only screen and (max-width: 768px) {

    .main_contain {
        padding: 3rem 0;
    }
    .banner_box {
        position: relative;
        padding-top: 87%;
    }

    .banner_box img {
        width: auto;
        height: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .banner_pic_text_box {
        bottom: auto;
        left: 50%;
        top: 64%;
        width: 90%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

    .banner_pic_title {
        font-size: 3.2rem;
        text-align: center;
    }

    .banner_pic_dec {
        font-size: 1.8rem;
        text-align: center;
        max-width: 100%;
    }

}