header {
	background: #fff;
}

.header_bar {
	background: url('../images/header_bar_bg2.png') center no-repeat #122E91;
	background-size: cover;
	line-height: 1.8rem;
	color: #8d9bca;
}

.header_bar_content,
.header_content {
	position: relative;
	width: 96%;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem 0;
}

.connect_type {
	display: inline-block;
}

.connect_item {
	margin-right: 20px;
	cursor: pointer;
}

.labguage_type {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.language_btn {
	cursor: pointer;
}

body .fa {
	margin-right: 10px;
	font-size: 1.2rem;
	vertical-align: middle;
}

.logo {
	display: inline-block;
	vertical-align: middle;
}

.logo img {
	height: 2.4rem;
	vertical-align: middle;
}

.header_menu_box {
	text-align: right;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.header_menu_box .fa {
	display: none;
}

.header_menu_item {
	display: inline-block;
	vertical-align: middle;
}

.header_menu_item a {
	display: block;
	padding: 0 8px;
	line-height: 2rem;
}

.middle_screen_more_list {
	display: inline-block;
	vertical-align: middle;
}

.menu_list a {
	display: block;
}

.menu_list .middle_screen_more_list_btn {
	display: none;
}

@media only screen and (min-width: 769px) and (max-width: 1300px) {
	.menu_list .middle_screen_more_list_btn {
		display: inline-block;
	}

	.middle_screen_more_list {
		position: absolute;
		right: -10px;
		top: 3rem;
		background: url('../images/header_bar_bg2.png') 0 center no-repeat #122E91;
		text-align: center;
		color: #fff;
		line-height: 3.2rem;
		display: none;
	}

	.middle_screen_more_list:before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		top: -18px;
		right: 32px;
		border: 10px solid transparent;
		border-bottom-color: #122E91;
	}
}



@media only screen and (max-width: 768px) {
	.header_bar {
		height: 3rem;
		background: url('../images/header_bar_bg2.png') 16% 33% no-repeat #122E91;
	}

	.logo {
		margin-left: 2%;
	}

	.header_bar_content {
		display: none;
	}

	.header_content {
		margin: 0 auto;
		width: 100%;
	}

	.logo img {
		height: 3.6rem;
	}

	.header_menu_box {
		height: 100%;
		width: 4rem;
		float: right;
		position: static;
		transform: none;
	    -ms-transform: none;
	    -moz-transform: none;
	    -webkit-transform: none;
	    -o-transform: none;
	}

	.header_menu_item a {
		line-height: inherit;
	}

	.header_menu_box:before {
		content: '';
		display: inline-block;
		height: 100%;
		width: 0;
		vertical-align: middle;
	}

	.header_menu_box .fa {
	    display: inline-block;
	    vertical-align: middle;
	    color: #ccc;
	    font-size: 2.6rem;
	}

	.header_menu_mobile_box {
		position: absolute;
		left: 0;
		top: 5.6rem;
		width: 100%;
		line-height: 4rem;
		max-height: 100vh;
		overflow: auto;
		background: url('../images/header_bar_bg2.png') 0 center no-repeat #122E91;
		z-index: 2;
		color: #fff;
		text-align: center;
		display: none;
	}

	.menu_list {
		margin: 3.2rem auto;
	}

	.menu_list .header_menu_item {
		display: block;
		font-size: 1.5rem;
	}
}