.detail_list {
	width: 100%;
	text-align: left;
}

.detail_list td {
	border: 1px solid #ddd;
	width: 50%;
	background: #fcfcfc;
	vertical-align: middle;
	line-height: 2rem;
	padding: 0 1rem;
}

.pc_line td {
	background: #0e2f8a;
	color: #fff;
}

.mobile_line {
	display: none;
}

.service_item_box {
	position: relative;
	padding: 1rem 20px;
}

.service_item_box:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #0e2f8a;
	border-radius: 100px;
	left: 2px;
	top: 2rem;
	margin-top: -5px;
}

.daterangepicker .fa {
	margin-right: 0;
}

.daterangepicker .fa-arrow-left:before,
.daterangepicker .fa-arrow-right:before {
	display: none;
}

.ranges li:last-child {
	display: none;
}


@media only screen and (max-width: 768px) {
}